<?xml version='1.0' encoding='UTF-8'?>
<maven2 plugin="maven-plugin@2.12.1">
  <actions/>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <reporters/>
  <displayName>js-mongodb-datasource-it</displayName>
  <version>1.0.0-SNAPSHOT</version>
  <packaging>jar</packaging>
  <relativePath></relativePath>
  <dependencies>
    <dependency>
      <groupId>org.testng</groupId>
      <artifactId>testng</artifactId>
      <version>6.9.10</version>
      <plugin>false</plugin>
      <scope>test</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-failsafe-plugin</artifactId>
      <version>2.19.1</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>org.jolokia</groupId>
      <artifactId>docker-maven-plugin</artifactId>
      <version>0.13.7</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>com.jaspersoft.connectors.mongodb</groupId>
      <artifactId>js-mongodb-datasource</artifactId>
      <version>2.0.5</version>
      <plugin>false</plugin>
      <scope>test</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.assertj</groupId>
      <artifactId>assertj-core</artifactId>
      <version>3.3.0</version>
      <plugin>false</plugin>
      <scope>test</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.sonatype.plugins</groupId>
      <artifactId>port-allocator-maven-plugin</artifactId>
      <version>1.2</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-surefire-plugin</artifactId>
      <version>2.19.1</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-compiler-plugin</artifactId>
      <version>3.5</version>
      <plugin>true</plugin>
    </dependency>
  </dependencies>
  <children/>
</maven2>